.col-md-4
{
    text-align: center;
    color: rgb(0, 73, 209);
}
src
{
    background-position: inherit;
}
header
{
    background-color:aqua;    ;  
}
span
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}