<header class="container-fluid">
 
        <div class="row">

            <div class="col-md-4">
                <br> <img id="bankingicon" src="../assets/images/a.png" alt="Image">

            </div>

            <div class="col-md-4" >

                <h2>Pecunia-Banking Management-System</h2>
            </div>
            <!-- <div class="form-inline">
                <a routerLink="addaccount"> Account </a>|
                <a routerLink="transaction"> Transactions </a>|
                <a routerLink="loanrequest"> Loans </a> |
                <input type="search" name="accountId" id="accountId" [(ngModel)]="searchTxt"
                placeholder="Account Id for Transaction">
            <button class="btn btn-primary" (click)="searchTransaction()"
                [disabled]="!searchTxt">searchTransaction</button>
            </div> -->
        </div>

</header>