<app-header></app-header>
<nav>
    <div class="container-fluid" style="background-color:white; height: 20%;">
        <div class="row">

    </div>
    <td><a routerLink="register"><button type="submit" class="btn btn-dark btn-block" >Register</button></a></td>
    <td><a routerLink="login"><button type="submit" class="btn btn-primary btn-block"> Login</button></a></td>
    </div>
</nav>

<div>

    <body>
        <router-outlet></router-outlet>
    </body>
</div>
<hr>
<app-footer></app-footer>
